/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 35px;
  grid-template-areas:
    "header header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.grid-container .header {
  grid-area: header;
  background-color: #1583cc;
}

.grid-container .sidenav {
  grid-area: sidenav;
  background-color: #dddddd;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  z-index: 10;
}

.grid-container .main {
  grid-area: main;
  background-color: #f9f9f9;

  display: grid;

  grid-template-rows: 70px 1fr;

  grid-template-areas:
    "header"
    "body"
}

.grid-container .main .menu {
  grid-area: header;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  list-style-type: none;

  border-bottom: 1px solid #dfdfdf;
}

.grid-container .main .menu .item {
  height: 100%;
  width: 110px;

  margin: 0 1vw 0 1vw;

  display: flex;

  justify-content: center;
  align-items: center;
}

.grid-container .main .body {
  grid-area: body;
  
  padding: 5vh 7vw 5vh 7vw;
}

.grid-container .main .body .horizontal-separator {
  border-bottom: 1px solid #dfdfdf;
  margin: 1vh 0;
}

.grid-container .main .body .icon-bar {
  display: flex;

  flex-flow: row-reverse;
}

.grid-container .footer {
  grid-area: footer;
  background-color: #648ca6;
}
