.card {
  border-radius: 7px;

  height: 360px;

  overflow: hidden;

  position: relative;

  display: flex;
  flex-direction: column;

  box-shadow: 0 0 40px rgba(2, 8, 65, 0.2);
}

.card .icon-more {
  position: absolute;

  background-color: white;

  top: 3%;
  right: 3%;

  transition: background-color 0.3s
}

.card .icon-more:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.card img {
  max-height: 100%;
  max-width: 100%;
}

.card .card-body {
  padding: 15px;

  flex-basis: 0;
  flex-grow: 1;

  background-color: #eeeeee;

  border: 1px solid #dfdfdf;
  border-top: 0px;
  border-bottom: 0px;
}

.card .card-footer {
  height: 6px;
  width: 100%;

  padding-left: 15px;

  display: flex;
  align-items: center;
}

.card .card-back-body {
  padding: 15px 15px 10px 15px;

  flex: 1;

  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  background-color: #eeeeee;

  border: 1px solid #dfdfdf;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card .card-back-body button {
  border: 0;
  background-color: rgb(3, 199, 140);
  border-radius: 16px;
  height: 32px;

  margin: 0 20px 0 20px;

  font-size: 14px;
  font-weight: bold;
  color: #fdfdfd;
}

.card .card-back-body button:hover {
  filter: brightness(98%);
}